# requirements.txt

streamlit
pandas
typer
rich
google-generativeai
openai
python-dotenv
fpdf2
plotly
kaleido
build
twine
bandit
nlpaug
textattack
transformers
torch
langchain
langchain-community
langchain-openai
langchainhub
